.person-info {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 30px;
}

.left img {
    height: 100px;
}

.middle {
    flex: 1;
    margin-left: 20px;
}

.right {
    width: 300px;

}

.right>.info-item {
    line-height: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.info-item>.icon {
    font-size: 16px;

}

.info-item>.label {
    margin-left: 10px;
    width: 60px;
    text-align: center;
    display: inline-block;
    color: #262626;

}

.info-item>.value {
    color: #8c8c8c;
    margin-left: 10px;
}
.main{
    padding: 0 30px;
}
.education{
    display: flex;
    justify-content: space-between;
}